@using CLDV_POE_PART_TWO.Enums
@model IEnumerable<CLDV_POE_PART_TWO.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Orders</h1>


<form asp-action="AdminIndex" method="get">
    <select name="statusFilter" onchange="this.form.submit()">
        <option value="">All</option>
        @foreach (var status in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>())
        {
             var selected = (ViewData["CurrentFilter"]?.ToString() == status.ToString()) ? "selected" : "";
            <option value="@status" selected>@status</option>

        }
    </select>
</form>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                   R @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>

               @*  <td>
                  
                    <form asp-action="ChangeStatus" method="post">
                        <input type="hidden" name="OrderID" value="@item.OrderID" />
                        <select name="OrderStatus" onchange="this.form.submit()">
                            @foreach (var status in Enum.GetValues(typeof(OrderStatus)))
                            {
                                var selected = item.OrderStatus == (OrderStatus)status ? "selected" : "";
                                <option value="@status" selected>@status</option>
                            }
                        </select>
                    </form>
                </td> *@
                <td>
                      @{
    var excludedStatus = OrderStatus.Pending; // Define the status to exclude
}
                   <form asp-action="ChangeStatus" method="post">
                        <input type="hidden" name="OrderID" value="@item.OrderID" />
                        <select name="OrderStatus" onchange="this.form.submit()">
                            @foreach (var status in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>().Where(s => s != excludedStatus))
                            {
                                var selected = item.OrderStatus == (OrderStatus)status ? "selected" : "";
                                <option value="@status" selected>@status</option>
                            }
                        </select>
                    </form>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
